
.inner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-base-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .logo-container-right{
        padding: 20px;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .image-section{
            background: url(/assets/images/wb-logo.png);
            height: 10vw;
            width: 10vw;
            background-position: center;
            background-size: contain;
            background-color: #fff;
            border-radius: 50%;
            background-repeat: no-repeat;
        }
        .slogan{
            color: #fff;
            font-weight: bold;
        }
    }
    .form-container {
        max-width: 400px;
        padding: 20px;
        background: white;
        h3{
            border-bottom: solid;
            text-align: center;
            margin-top: 0;
        }
        label.form-label {
            font-size: 14px;
            text-align: right;
            min-width: 140px;
            display: inline-block;
            margin-right: 10px;
        }
        input {
            border: none;
            background-color: #fbf8f8;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 4px;
            font-size: 14px;
        }
        button{
            min-width: 120px;
            text-align: center;
            font-weight: bold;
            padding: 0;
            border-radius: 3px;
            background-color: var(--theme-base-color);
            color: #fff;
            font-size: 14px;
            min-height: 30px;
            cursor: pointer;
            margin-top: 20px;
        }
    }

    .error {
        color: var(--theme-error-color);
        font-size: 10px;
        word-wrap: break-word;
        text-align: right;
        width: 100%;
        font-weight: bold;
        letter-spacing: .5px;
        display: flex;
        flex-direction: column;
    }
    input.ng-invalid.ng-dirty {
        border: solid 1px var(--theme-error-color) !important;
    }
    button:disabled {
        opacity: .8;
        cursor: not-allowed !important;
    }
    .quick-link{
        font-size: 12px;
        float: right;
        margin-top: 20px;
        a{
            font-weight: bold;
            font-size: 11px;
        }
    }
}

#signup{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}