/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    * {
        font-family: "Trirong", serif;
    }

    .post-popup-container{
        &[hidden]{
            visibility: hidden !important;
        }
        position: fixed;
        top: 0;
        background-color: #000000c4;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .post-popup-body{
            background-color: #fff;
            padding: 20px;
            border-radius: 6px;
            .popup-header{
                padding: 0 0 10px 0;
                border-bottom: solid;
                margin-bottom: 10px;
                font-weight: bold;
                .popup-close{
                    float: right;
                    font-size: 1.5rem;
                    transform: translateY(-5px);
                    cursor: pointer;
                }
            }
            .popup-content{
                padding: 10px 10px 30px 10px;
            }
            .popup-footer{
                padding: 10px;
                border-top: solid;
                margin-bottom: 10px;
                font-weight: bold;
                button{
                    margin: 0 10px;
                    padding: 0;
                    min-height: 30px;
                    min-width: 120px;
                    font-weight: bold;
                    font-size: 12px;
                    cursor: pointer;
                    border: solid 1px #aaa;
                    background-color: #fff;
                    border-radius: 6px;
                    &.create-post{
                        background-color: #06385a;
                        color: #fff;
                    }
                    .fas{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

:host, :root{
    --theme-base-color: #0F52BA;
    --theme-bg-color: #c7e0f1;
    --theme-error-color: red;
}

button{
    &:hover{
        background-color: blue !important;
    }
    &:active{
        background-color: var(--theme-bg-color) !important;
    }
}

.fa-solid{
    display: none;
}

/* Mobile Devices: max-width of 768px or below */
@media screen and (max-width: 768px) {
    .inner-container{
        flex-direction: column !important;
        .logo-container-right{
            width: 25vw !important;
        }
    }
    .data-container{
        width: 100% !important;
    }
    .fa-solid{
        display: block;
        position: absolute;
        left: 5px;
        margin-top: 5px;
        font-size: 1.4rem;
        cursor: pointer;
    }
    
    .profile-container{
        width: 0 !important;
        overflow: hidden;
        transition: all ease .6s;
        .fa-times{
            display: none !important;
        }
        .profile-footer{
            display: none;
        }
        &.show{
            width: 80% !important;
            position: absolute;
            z-index: 1;
            left: 0;
            box-shadow: -1px 2px 20px 0px #030303;
            .profile-footer{
                display: block;
            }
            .fa-times{
                display: block !important;
                left: 90%;
            }
        }
    }
  }
  