<div class="home-container">
    <div class="header-container">
        <div class="logo-container">
            <label class="logo-name">Wealth Bean</label>
        </div>
        <div class="profile-controls" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout
        </div>
    </div>
    <div class="content-container">
        <i (click)="showProfile=!showProfile" class="show-only-on-mobile fa-solid fa-bars"></i>
        <div [class.show]="showProfile" class="profile-container">
            <label class="profile-name">{{auth.currentUser?.first_name || '--'}} {{auth.currentUser?.last_name}}</label>
            <i (click)="showProfile=!showProfile" class="show-only-on-mobile  fa-solid fa-times"></i>
            <div class="profile-imag-section">
                <i class="fas fa-pencil"></i>
                <input id="profile-chooser" type="file" hidden (change)="onFileSelected($event)" accept="image/*"/>
                <label for="profile-chooser" [style]="{'background-image': 'url(' + profileImage + ')'}" class="profile-image"></label>
            </div>
            <pre></pre>
            <div class="user-stats">
                <div class="stat-section">
                    <label>Followers</label><strong>{{userstats?.followers || 0}}</strong>
                </div>
                <div class="stat-section">
                    <label>Following</label><strong>{{userstats?.followings?.length || 0}}</strong>
                </div>
                <div class="stat-section">
                    <label>Posts</label><strong>{{userstats?.posts || 0}}</strong>
                </div>
            </div>
            <!-- <div class="profile-footer">
                <label class="create-post" (click)="showPostPopUp = !showPostPopUp; showProfile= false"><i class="fas fa-pencil"></i> Create Post</label>
            </div> -->
        </div>
        <div class="data-container">
            <div class="post-container">
                <div *ngFor="let post of newPosts" [class.hide]="!isPostEnabled" class="self-post post-section">
                    <div class="post-top">
                        <div class="user-logo">
                            <img [src]="post.postedBy.profileImage" />
                        </div>
                        <div class="user-info">
                            <label class="post-user-name">{{post.postedBy.firstName}} {{post.postedBy.lastName}}</label>
                            <!-- <label class="post-time" [title]="post.createdDate">{{ post.createdDate | postTime }}</label> -->
                        </div>
                        <div contenteditable="true" class="post-edit">
                            <div style="max-height: 50vh;" id="qui-editor" ></div>
                        </div>
                    </div>
                    
                    <div class="post-bottom">
                        <label class="post-visiblity">Visiblity</label>
                        <select>
                            <option selected>Public</option>
                            <option>Followers</option>
                        </select>
                        <button class="create-post" (click)="createPost()"><i class="fas fa-check"></i> Create Post</button>
                    </div>
                </div>
                <div *ngFor="let post of posts; let postInd = index" class="post-section">
                    <div class="post-top">
                        <div class="user-logo">
                            <img *ngIf="post.postedBy" [src]="post.postedBy['profileImage']" />
                        </div>
                        <div class="user-info">
                            <label *ngIf="post.postedBy" class="post-user-name">{{post.postedBy['firstName']}} {{post.postedBy['lastName']}}</label>
                            <label class="post-time" [title]="post.createdDate">{{ post.createdDate | postTime }}</label>
                        </div>
                        <div *ngIf="post.postedBy && post.postedBy['user_id'] != auth?.currentUser?.user_id" class="follow-section">
                            <label (click)="updateFollowers(post.postedBy['user_id'])" *ngIf="!userstats.followings?.includes(post.postedBy['user_id'])">follow</label>
                            <label (click)="updateFollowers(post.postedBy['user_id'])" *ngIf="userstats.followings?.includes(post.postedBy['user_id'])">unfollow</label>
                        </div>
                    </div>
                    <div class="post-content">
                        <label class="post-title">{{post.title}}</label>
                        <pre class="post-content" [innerHTML]="post.content"></pre>
                    </div>
                    <div class="post-bottom">
                        <label (click)="updateVote(post, 1)" class="vote-container"><i class="fas fa-arrow-up"></i> 
                            Upvote <span>{{post.upvotes}}</span>
                        </label>
                        <label (click)="updateVote(post, -1)" class="vote-container"><i class="fas fa-arrow-down"></i> 
                            Downvote <span>{{post.downvotes}}</span>
                        </label>

                        <i title="comment" (click)="post.showComments = !post.showComments; fetchAllComment(post.post_id,postInd)" class="fas fa-comment"><span style="margin-left: 5px;">{{post.commentCount}}</span></i>
                        <i title="Share" (click)="copyToClipboard(post)" class="fas fa-share"></i>
                        <span id="copyMessage_{{post.post_id}}" style="color: green; display: none;">Copied!</span>
                        
                    </div>
                    <div *ngIf="post['showComments']" class="comment-container" >
                        <label >Comments</label>
                        <div class="self-comment" *ngFor="let comment of newComments">
                            <div class="user-logo">
                                <img [src]="post.postedBy.profileImage" />
                            </div>
                            <div class="user-info">
                                <label class="post-user-name">{{comment['postedBy']['firstName']}} {{comment['postedBy']['lastName']}}</label>
                            </div>
                            <div class="comment-content">
                                <input type="text" #commentBox >
                                <button (click)="createComment(post, postInd, comment.comment_id, commentBox.value)"><i class="fas fa-check"></i></button>
                            </div>
                        </div>
                        <div class="comment-data" >
                            <app-comments [post]="post"></app-comments>
                            <!-- <div class="user-logo">
                                <img [src]="comment.postedBy.profileImage" />
                            </div>
                            <div class="user-info">
                                <label class="post-user-name">{{comment.postedBy['firstName']}} {{comment.postedBy['lastName']}}</label>
                                <label class="post-time" [title]="comment.createdDate">{{ comment.createdDate | postTime }}</label>
                            </div>
                            <div class="comment-content">
                                <pre class="post-content" [innerHTML]="comment.content"></pre>
                                <label class="reply-comment-label"><i class="fas fa-reply"></i>reply</label>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="market-live-container">
            <label class="live-data-label">Live Data as on {{date | date: 'dd-MM-yyyy HH:mm:ss'}}</label>
            <div class="stock-data">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="stock-container swiper-slide" *ngFor="let stock of requiredIndexes">
                            <div class="stock-name">
                                {{stock.data?.indexName || stock.name || '--'}}
                                <label class="stock-trend"><img src="assets/images/trend-down.png"/></label>
                            </div>
                            <label class="stock-ason">{{stock.data?.ason || '--'}}</label>
                            <div class="stock-value">
                                <span class="pull-left">{{stock.data?.data?.last || '--'}}</span>
                                <span class="pull-right {{stock.data?.data?.change > 0 ? 'positive-return' : 'negative-return'}}">{{stock.data?.data?.change || '--'}} 
                                    <span class="stock-change-perc">( {{stock.data?.data?.change > 0 ? '▲' : '▼'}} {{stock.data?.data?.percChange || '--'}})</span></span>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="!showPostPopUp" class="post-popup-container">
    <div class="post-popup-body">
        <div class="popup-header">
            <label class="popup-title">Create Post</label>
            <label class="popup-close" (click)="showPostPopUp = false"><i class="fas fa-times"></i></label>
        </div>
        <div class="popup-content">
            <label class="post-visiblity">Visiblity</label>
            <select>
                <option selected>Public</option>
                <option>Followers</option>
            </select>
            <div style="height: 300px;" id="qui-editor" ></div>
        </div>
        <div class="popup-footer">
            <button class="cancel-post" (click)="showPostPopUp = false"><i class="fas fa-times"></i> Cancel</button>
            <button class="create-post" (click)="createPost()"><i class="fas fa-check"></i> Create Post</button>
        </div>
    </div>
</div>