.header-container{
    background-color: #06385a;
    height: 10%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-container{
        height: 100%;
        align-items: center;
        display: flex;
        padding: 0 40px;
        font-size: 1.5rem;
        .logo-name{
            color: #fff;
            font-size: 1.5rem;
        }
    }
    .profile-controls{
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        margin: 0 3rem;
        cursor: pointer;
        .fa-sign-out{
            margin-right: 5px;
        }
    }
}

.content-container{
    display: flex;
    height: 90%;
    justify-content: center;
    background-color: #686868;
    .profile-container{
        width: 20%;
        display: flex;
        height: 100%;
        background-color: #eee;
        flex-direction: column;
        align-items: center;
        .profile-footer{
            position: fixed;
            bottom: 10px;
            background-color: #06385a;
            padding: 10px;
            font-size: 12px;
            color: #fff;
            min-width: 150px;
            border-radius: 6px;
            text-align: center;
            &, * {cursor: pointer};
            .fa-pencil{
                margin-right: 10px;
            }
        }
    }
    .data-container{
        width: 50%;
        height: 100%;
        background-color: #aaa;
        overflow-y: auto;
        .post-section{
            margin: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            .post-top{
                display: flex;
                align-items: center;
                border-bottom: solid 1px;
                padding-bottom: 10px;
                position: sticky;
                top: 0;
                background-color: #fff;
                .user-logo{
                    height: 50px;
                    width: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .user-info{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                }
                .post-user-name{
                    font-weight: bold;
                }
                .post-time{
                    font-size: 12px;
                }
            }
            .post-content{
                padding: 5px;
                .post-title{
                    font-weight: bold;
                }
                img{
                    height: 40vh;
                    width: 40vw;
                }
            }
            .post-bottom{
                border-top: solid 1px;
                padding-top: 10px;
                .vote-container{
                    background-color: #f0f0f0;
                    border-radius: 15px;
                    padding: 5px 10px;
                    font-size: 12px;
                    margin: 0 5px;
                    cursor: pointer;
                    span{
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
                .fa-comment, .fa-share{
                    cursor: pointer;
                    margin: 10px;
                }
            }
        }
    }
    .market-live-container{
        width: 20%;
        background-color: #eeeeee;
    }

    button{
        min-width: 120px;
        text-align: center;
        font-weight: bold;
        padding: 0;
        border-radius: 3px;
        background-color: var(--theme-base-color);
        color: #fff;
        font-size: 14px;
        min-height: 30px;
        cursor: pointer;
        margin: 20px 10px 0 10px;
        border: none;
    }
    select{
        margin: 10px;
        border: solid 1px;
        border-radius: 3px;
        height: 30px;
        padding: 0 10px;
    }
    .post-visiblity{
        font-size: 12px;
        font-weight: bold;
    }
}

.self-post {
    .post-bottom{
        transition: height ease-in .5s;
    }
    &.post-section{
        padding-bottom: 0 !important;
    }
    &.hide{
        .post-top{
            border: none !important;
        }
        .post-bottom{
            visibility: hidden;
            height: 0;
            padding: 0;
        }
    }
}

.home-container{
    height: 100%;
}
.profile-name{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin: 5px 0;
}

pre{
    word-wrap: break-word;
    overflow: hidden;
    white-space: break-spaces;
    padding: 0 10px;
    font-size: 12px;
}


.profile-imag-section{
    display: flex;
    align-items: center;
    justify-content: center;
    .fa-pencil{
        visibility: hidden;
        position: absolute;
        cursor: pointer;
    }
    &:hover{
        .fa-pencil{
            visibility: visible;
        }
        .profile-image{
            opacity: .1;
            border: dotted 2px #000;
        }
    }

    .profile-image{
        background: url(/assets/images/Profile-image.jfif);
        height: 12vw;
        width: 12vw;
        background-position: center;
        background-size: contain;
        background-color: #fff;
        border-radius: 50%;
        background-repeat: no-repeat;
        border: dotted 2px transparent;
        margin: 10px;
        cursor: pointer;
    }
}

.post-edit{
    width: 70%;
    min-height: 40px;
    border-radius: 20px;
    background-color: #eee;
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 2%;
}

.stock-data{
    display: flex;
    // justify-content: space-evenly;
    padding: 0 0 1rem 0;
    .stock-container{
        border: 1px solid #dfe4f9;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 15px;
        max-width: 275px;
        min-height: 125px;
        height: 20vh !important;
        .stock-name{
            text-align: left;
            padding: 1rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .stock-trend{
                background-color: #eee;
                padding: 3px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .stock-ason{
            padding: 0 1rem;
            font-size: 12px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dfe4f9;
        }
        .stock-value{
            padding: 6px 1rem;
            font-size: 14px;
            font-weight: bold;
        }
        .negative-return{
            color: #d31d23;
        }
        .positive-return{
            color: #009A82;
        }
    }
}

.swiper{
    margin: 0 !important;
    width: 100%;
    height: 500px !important;
}

.swiper-wrapper {
    transition-timing-function: ease-in-out !important;
}

.live-data-label{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.user-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .stat-section{
        padding: 10px;
        background-color: #06385a;
        margin: 10px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 90px;
        color: #fff;
        label{
            color: #eee;
        }
        strong{
            font-size: 2rem;
        }
    }
}

.self-comment{
    padding-bottom: 10px;
    border-bottom: solid 1px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.self-comment, .comment-data{
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(even){
        background-color: #eee;
    }
    
    .user-logo img{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
    }
    .post-user-name{
        margin-left: 10px;
        min-width: 100px;
        display: flex;
        font-size: 12px;
        font-weight: bold;
    }
    .post-time{
        font-size: 10px;
    }
    .comment-content{
        width: 80%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input, .post-content{
        width: 100%;
        border: 0;
        padding: 10px;
        // background-color: #eee;
        border-radius: 6px;
    }
    .post-content{
        background-color: transparent;
    }
    button{
        margin: 5px 10px;
    }
}

label.reply-comment-label {
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform: translateY(15px);
    .fas.fa-reply{
        margin-right: 5px;
    }
}

.follow-section label{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-7px);
    color: blue;
    display: flex;
    margin: 0 15px;
}